{% extends "layout.html" %}

{% block title %}MyBnB Listings{% endblock %}

{% block content %}
<h1 style="text-align: center;">Available Properties</h1>

    <div style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center;">
        {% for property in properties %}
        <div style="border: 1px solid #ccf; padding: 10px; margin: 10px 0; background-color: rgb(255, 241, 173); flex: 0 0 48%; text-align: center;">
            <h2>{{ property.description }}</h2>
            <a href="{{ url_for('show_property', property_id=property.id) }}">
                <img src="{{ house_images[property.id] }}" alt="Property image" style="width: 100%; max-height: 300px; object-fit: cover;">
            </a>
            <h4>{{ property.name }}</h4>
            <h5>{{ property.phone_number }}</h5>
        </div>
        {% endfor %}
    </div>

{% endblock %}