<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Welcome to MakersBnB Homepage.</h1>
        <p>See our list of properties below</p>
        <p>if you would like to list your property on MakersBnB please call</p>
        <h4>07755235436</h4>
        <a href="/index/beach_side_property">Beach Side Property</a>

    </body>
</html>
