{% extends "layout.html" %}

{% block content %}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Property Request</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Property Request</h1>

    <form action="/property_request" method="post">
      <label for="name">Name:</label><br />
      <input type="text" name="name" id="name" required><br><br>

      <label for="email">Email:</label><br />
      <input type="email" name="email" id="email" required><br><br>

      <label for="message">Message:</label><br />
      <textarea name="message" id="message" required></textarea><br><br>

      <p>Please request your ideal dates for your property, and someone will respond within 48 hours</p>

      <label for="from_date">From</label><br />
      <input type="date" name="from_date" id="from_date" required><br><br>

      <label for="to_date">To</label><br />
      <input type="date" name="to_date" id="to_date" required><br><br>

      <input type="submit" value="Request Property" class="btn btn-primary">
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock %}






